@media screen and (max-width: 1023px) {
  .footer {
    width:100%
  }
}


@media screen and (min-width: 1024px) {
  body {
    width: 430px;
    margin: 0 auto;
    border: 1px solid #000; /* Optional: add a border to simulate the phone outline */
  }

  .footer {
    width: 430px;
  }
}
